:root {
  --nav--color: #0d2d3d;
  --nav--hover--color :#cb085b;

  --logo--first--clor: #000000;
  --logo--second--clor: #ffffff;

  --phone--menu--background: #cb085b;
}



.mainHome {
background-image: url("../images/bacgroundss.jpg");
}
.paslaugos_left{
  background-image: url(./images/decorup.jpg);
}
.Title {
  color: #cb085b;
}
.aboutus_foto_div{
/* background-image: url("./images/facepaint.jpg"); */

}